<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Beautiful design tables in HTML in the style of a zebra.</title>
  <link rel="stylesheet" href="/stylesheets/class.css" type="text/css">
</head>

<body>

<div id="container">   

  <table class="zebra">
    <caption>CQYOU be there for you.</caption>
    <thead>
          <tr>
        <th></th>
        <th>周一</th>
        <th>周二</th>
        <th>周三</th>
        <th>周四</th>
        <th>周五</th>
        <th>周六</th>
        <th>周天</th>
            </tr>
    </thead>
        <tbody>
          <tr>
              <td>1</td>
                <td><%= table.Mon1 %></td>
                <td><%= table.Tues1 %></td>
                <td><%= table.Wed1 %></td>
                <td><%= table.Thur1 %></td>
                <td><%= table.Fri1 %></td>
                <td><%= table.Sat1 %></td>
                <td><%= table.Sun1 %></td>
            </tr>
            <tr>
              <td>2</td>
                 <td><%= table.Mon2 %></td>
                <td><%= table.Tues2 %></td>
                <td><%= table.Wed2 %></td>
                <td><%= table.Thur2 %></td>
                <td><%= table.Fri2 %></td>
                <td><%= table.Sat2 %></td>
                <td><%= table.Sun2 %></td>
            </tr>
            <tr>
              <td>3</td>
                 <td><%= table.Mon3 %></td>
                <td><%= table.Tues3 %></td>
                <td><%= table.Wed3 %></td>
                <td><%= table.Thur3 %></td>
                <td><%= table.Fri3 %></td>
                <td><%= table.Sat3 %></td>
                <td><%= table.Sun3 %></td>
            </tr>
            <tr>
              <td>4</td>
                 <td><%= table.Mon4 %></td>
                <td><%= table.Tues4 %></td>
                <td><%= table.Wed4 %></td>
                <td><%= table.Thur4 %></td>
                <td><%= table.Fri4 %></td>
                <td><%= table.Sat4 %></td>
                <td><%= table.Sun4 %></td>
            </tr>
            <tr>
              <td>5</td>
                 <td><%= table.Mon5 %></td>
                <td><%= table.Tues5 %></td>
                <td><%= table.Wed5 %></td>
                <td><%= table.Thur5 %></td>
                <td><%= table.Fri5 %></td>
                <td><%= table.Sat5 %></td>
                <td><%= table.Sun5 %></td>
            </tr>
            <tr>
              <td>6</td>
                 <td><%= table.Mon6 %></td>
                <td><%= table.Tues6 %></td>
                <td><%= table.Wed6 %></td>
                <td><%= table.Thur6 %></td>
                <td><%= table.Fri6 %></td>
                <td><%= table.Sat6 %></td>
                <td><%= table.Sun6 %></td>
            </tr>
            <tr>
              <td>7</td>
                 <td><%= table.Mon7 %></td>
                <td><%= table.Tues7 %></td>
                <td><%= table.Wed7 %></td>
                <td><%= table.Thur7 %></td>
                <td><%= table.Fri7 %></td>
                <td><%= table.Sat7 %></td>
                <td><%= table.Sun7 %></td>
            </tr>
            <tr>
              <td>8</td>
                <td><%= table.Mon8 %></td>
                <td><%= table.Tues8 %></td>
                <td><%= table.Wed8 %></td>
                <td><%= table.Thur8 %></td>
                <td><%= table.Fri8 %></td>
                <td><%= table.Sat8 %></td>
                <td><%= table.Sun8 %></td>
            </tr>
            <tr>
              <td>9</td>
                <td><%= table.Mon9 %></td>
                <td><%= table.Tues9 %></td>
                <td><%= table.Wed9 %></td>
                <td><%= table.Thur9 %></td>
                <td><%= table.Fri9 %></td>
                <td><%= table.Sat9 %></td>
                <td><%= table.Sun9 %></td>
            </tr>
            <tr>
              <td>10</td>
                 <td><%= table.Mon10 %></td>
                <td><%= table.Tues10 %></td>
                <td><%= table.Wed10 %></td>
                <td><%= table.Thur10 %></td>
                <td><%= table.Fri10 %></td>
                <td><%= table.Sat10 %></td>
                <td><%= table.Sun10 %></td>
            </tr>
            <tr>
              <td>11</td>
                 <td><%= table.Mon11 %></td>
                <td><%= table.Tues11 %></td>
                <td><%= table.Wed11 %></td>
                <td><%= table.Thur11 %></td>
                <td><%= table.Fri11 %></td>
                <td><%= table.Sat11 %></td>
                <td><%= table.Sun11 %></td>
            </tr>
            <tr>
              <td>12</td>
                 <td><%= table.Mon12 %></td>
                <td><%= table.Tues12 %></td>
                <td><%= table.Wed12 %></td>
                <td><%= table.Thur12 %></td>
                <td><%= table.Fri12 %></td>
                <td><%= table.Sat12 %></td>
                <td><%= table.Sun12 %></td>
            </tr>
        </tbody>
  </table>
</div>
    
</body>
</html>