<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>GradeAll</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link href="http://oj8njbmph.bkt.clouddn.com/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gradeAll.css">
</head>
<body>

<header>
    <% var home=info.mainSite+":2000/main/"+info.openid %>
    <a class="button" href=<%=home%> ><img src="/images/heart.svg"></a>

    <h1>所有成绩</h1>
    <div class="totallInfo">
        <span><%=totallInfo%></span>
    </div>
</header>

<!-- 课程详细信息栏 -->
<div class="htmleaf-container">
    <div class="demo" style="padding: 1em 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                     <% gradeAll.forEach(function(lesson,i){ %> 
                        <% var href="#"+i ;var control=i;var id=i%>
                         <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href=<%=href %> aria-expanded="false" aria-controls=<%=control %> class="collapsed" >
                                          <%= lesson.学科 +"    ["+lesson.成绩+"]"%>
                                    </a>
                                </h4>
                            </div>
                            <div id=<%=id %> class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <li>绩点：<%=lesson.绩点%></li>
                                    <li>学分：<%=lesson.学分%></li>
                                    <li>修读性质：<%=lesson.修读性质%></li>
                                    <li>类别：<%=lesson.类别%></li>
                                </div>
                            </div>
                        </div>
                    <% }) %>  


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://oj8njbmph.bkt.clouddn.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="http://oj8njbmph.bkt.clouddn.com/bootstrap.min.js"></script>
</body>
</html>